fastapi==0.109.0
uvicorn[standard]==0.27.0
sqlalchemy==2.0.25
psycopg2-binary==2.9.9
pydantic==2.5.3
feedparser==6.0.10
httpx[socks]==0.27.0
beautifulsoup4==4.12.3
arq==0.25.0
redis==5.0.1
groq==0.4.2
python-dotenv==1.0.0
apscheduler==3.10.4
pydantic-settings==2.1.0
google-generativeai==0.8.3
openai==1.55.3
